<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>My Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="application/javascript;charset=utf-8" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
    <script>
      var myDetailsSbReactAppUrlRoot = '';
      var myDetailsSbJwtToken = '';
    </script>
  </head>

  <body>
    <div id="my-details-sb"></div>
    <script src="/my-details-sb/js/main.js"></script>
  </body>
</html>